/*--------------------------------Fuente arcade--------------------------------------------*/
@font-face {
    font-family: 'Arcade';
    src: url('../fonts/ARCADECLASSIC.TTF') format('truetype');
    font-style: normal;
    font-weight: normal;
}
/*----------------------------------Body--------------------------------------------------*/
body{
    background-image: url(../img/533ba3.png);
}
#title{
    text-align: center;
    font-family: 'Arcade';
    font-size: 60px;
    color: white;
}
/*----------------------------------Navbar----------------------------------------------*/
#nav{
    background-color: #532B75;
    border-color: black;
}

#bot{
    background-image: url(../img/flecha.png);
    position: relative;
    left: -0%;
}

#Lnav{   /*letritas del nav*/
    font-family: 'Arcade';
    font-size: 20px;
    color: white;
}
#Lpuntajes{   /*letritas de los puntajes*/
    font-family: 'Arcade';
    font-size: 20px;
    color: white;
}
#Lcreditos{   /*letritas del nav*/
    font-family: 'Arcade';
    font-size: 20px;
    color: white;
}
#navbarDropdown{ /*letritas del dropdown del nav*/
    font-family: 'Arcade';
    font-size: 20px;
    color: white;
}
#fonods{   /*Para lo de cambiar los fondos*/
    font-family: 'Arcade';
    background-color: #532B75;
}
/*letritas del dropdown*/
#LfonodsOsc{ 
    color: white;
}
#LfonodsOsc:hover{
   color: black;
}
#LfonodsCl{
    color: white;
}
#LfonodsCl:hover{
   color: black;
}
/*Botones para cambiar el color (oscuro o claro)*/
#claro{
    font-family: 'Arcade';
    background-color: #532B75;
    color: white;
    border: none;
}
#claro:hover{
    background-color: #ececec;    
    color: black;
}
#oscuro{
    font-family: 'Arcade';
    background-color: #532B75;
    color: white;
    border: none;
}
#oscuro:hover{
    background-color: #ececec;    
    color: black;
}
/*----------------------------------Card (instrucciones)----------------------------------------*/
#card{
    background-color:#B058C6;
    position: relative;
    left: 30%;
    top: 0%
}
#Lins{ /*Letras instrucciones*/
    font-family: 'Arcade';
    color: white;
}
#Lins2{ /*Letras instrucciones*/
    font-family: 'Arcade';
    color: white;
}
#Bbird{ /*Boton de jugar*/
    background-color: #97BBE8;
    font-family: 'Arcade';
    color: white;
    border-color: none;
    position: relative;
    left: 40%;
}

#Breturn{ /*Boton de regresar*/
    background-color: #97BBE8;
    font-family: 'Arcade';
    color: white;
    border-color: none;
    position: relative;
    left: 70%;
    top: 0%;
}

/*--------------------------------animacion------------------------------*/
#reproductor{
    position: absolute;
    left: 4%;
    top: 64%;
   
    animation: reproductor 6s linear infinite;
  }
#nota1{
    position: absolute;
    left: 10%;
    top: 65%;
    animation: nota1 2s linear infinite;
}
#nota2{
    position: absolute;
    left: 12%;
    top: 64%;
    animation: nota2 2s linear infinite;
}
#nota3{
    position: absolute;
    left: 15%;
    top: 62%;
    animation: nota3 2s linear infinite;
}

@keyframes reproductor{
    20%{
      transform: rotate(30deg);
    }
    80%{
        transform: rotate(-30deg);
      }
}

@keyframes nota1{
    50%{
      position: absolute;
      left: 13%;
      top: 62%;
      transform: rotate(90deg);
    }
}
@keyframes nota2{
    50%{
      position: absolute;
      left: 15%;
      top: 61%;
      transform: rotate(-90deg);
    }  
}

@keyframes nota3{
    50%{
      position: absolute;
      left: 18%;
      top: 59%;
      transform: rotate(90deg);
    }  
}