h1{
    position: absolute;
    left: 42%;
}
#fondo{
    position: absolute;
    width: 60%;
    height: 70%;
    left: 20%;
    top: 20%;
    background-color: aqua;
}
#pasto{
    position: absolute;
    width: 100%;
    height: 10%;
    bottom: 0%;
    background-color: green;
}
#bird{
    position: absolute;
    width: 5%;
    height: 5%;
    background-color: black;
    left: 5%;
    top: 47.5%;
    animation:salto2 2s linear infinite;
    animation-play-state: running;
}

@keyframes salto2{
    0%   { transform: scale(1,1)      translateY(0); }
    10%  { transform: scale(1.1,.9)   translateY(0); }
    30%  { transform: scale(.9,1.1)   translateY(-100px); }
    50%  { transform: scale(1.05,.95) translateY(0); }
    60%  { transform: scale(1,1)      translateY(-9px); }
    65%  { transform: scale(1,1)      translateY(0); }
    100% { transform: scale(1,1)      translateY(0); }
}

#tubo1{
    position: absolute;
    left: 20%;
    background-color: red;
    width: 10%;
    height: 10px;
}
#tubo2{
    position: absolute;
    left: 45%;
    background-color: red;
    width: 10%;
    height: 10px;
}
#tubo3{
    position: absolute;
    left: 70%;
    background-color: red;
    width: 10%;
    height: 10px;
}