<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../statics/styles/FlappyBirds.css">
    <script src="../dynamics/js/FlappyBirds.js"></script>
    <title>FlappyBirds</title>
</head>
<body id="body">
    <h1>Flappy Birds</h1>
    <div id="fondo">
        <div id="pasto"></div>
        <div id="bird"></div>
        <div id="tubo1"></div>
        <div id="tubo2"></div>
        <div id="tubo3"></div>
        <div id="tubo1a"></div>
        <div id="tubo2a"></div>
        <div id="tubo3a"></div>
    </div>

</body>
</html>