<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Puntajes</title><!--//////////////CSS :)///////////////-->
    <!--//////////////boopstrap///////////////-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
     integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="../statics/styles/puntajes.css">
    <script src="../lib/jquery-3.6.0.min.js"></script>
</head>
<body>
     <!--//////////////boopstrap///////////////-->
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
     integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script> 
     <!--//////////////////////////////////////////Navbar///////////////////////////////-->
    <nav class="navbar navbar-expand-lg " id="nav">
        <div class="container-fluid">
            <a class="navbar-brand" href="#" id="Lnav"><strong>Arcogames</strong></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" id="bot">
                <span class="navbar-toggler-icon" id="bot"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="./juegos.html" id="Ljuegos">Juegos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./puntajes.html" id="Lpuntajes">Puntajes</a>
                    </li>
                    <!--//////////////Fondos (navbar)///////////////-->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Modo de pantalla
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown" id="fonods">
                            <!--Oscuro-->
                            <li><a class="dropdown-item" href="#" id="LfonodsOsc"><input type="button" value="oscuro" class="oscuro" id="oscuro"></a></li>
                            <!--Claro-->
                            <li><a class="dropdown-item" href="#" id="LfonodsCl"><input type="button" value="claro" class="claro" id="claro"></a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <p id="title">puntajes</p>  
    <div id="tabla">
        <table border="1">
            <thead>
              <tr>
                <th colspan="2" class="tit"><h3>jugador:</h3></th>
                <th colspan="5"></th>
              </tr>  
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td class="tit"><h3>Flappy Bird</h3></td>
                    <td class="tit"><h3>Snake</h3></td>
                    <td class="tit"><h3>Fecha</h3></td>
                    <td class="tit"><h3>Hora</h3></td>
                </tr>  
                <tr>
                    <td class="tit"><h3>Puntaje maximo</h3></td>
                    <td><p></p></td>
                    <td><p></p></td>
                    <td><p></p></td>
                    <td><p></p></td>
                </tr>  
                <tr>
                    <td class="tit"><h3>Puntaje minimo</h3></td>
                    <td><p></p></td>
                    <td><p></p></td>
                    <td><p></p></td>
                    <td><p></p></td>
                </tr>  
            </tbody>
          </table>
    </div>
     
      <script src="../dynamics/js/puntajes.js"></script>
</body>
</html>